.banner{ 
    height: 30%;
    width: 100%;
   border:1px solid red;
   margin: 4px;
   background: linear-gradient(
    to bottom,
    white 0%,
   white 50%,                                                                 
   
rgba(113, 113, 113)50%,
   
rgb(113, 113, 113) 100%,
);
   
   }
   .banner img{
    width:90%;
    border:1px solid red;
   }